<div class="hero-wrapper">
  <div class="puc-cala-site-with">
    <h1 class="cala-title">The CALA 2019</h1>
    <div class="primary-message">
      <i class="material-icons rotate90 quote">
        format_quote
      </i>
      Revitalization and Representation
      <i class="material-icons quote">
        format_quote
      </i>
    </div>
    <div class="primary-message khmer">
      <i class="material-icons rotate90 quote">
        format_quote
      </i>
      ការបង្ហាញពីការធ្វើអោយមានជីវិតរស់ឡើងវិញ
      <i class="material-icons quote">
        format_quote
      </i>
    </div>
  </div>
</div>
<div class="site-register-form">

  <mat-horizontal-stepper (selectionChange)="onSelectedSpepper($event)" [linear]="true" #stepper class="puc-cala-site-with ">
    <ng-template matStepperIcon="edit">
      <mat-icon>check</mat-icon>
    </ng-template>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Personal Information</ng-template>

      <form [formGroup]="firstFormGroup">

        <div class="form-container">

          <div class="text-block">
            <div class="title">
              Personal Information
            </div>
            <div class="body">

            </div>
          </div>

          <div class="field">
            <div class="two-field">
              <mat-form-field class="f-input">
                <input matInput placeholder="First Name" formControlName="first_name" required>
                <mat-error *ngIf="firstFormGroup.controls['first_name'].hasError('required') && firstFormGroup.controls['first_name'].touched">First name is required</mat-error>
              </mat-form-field>
            </div>
            <div class="two-field">
              <mat-form-field class="f-input">
                <input matInput placeholder="Last Name" formControlName="last_name" required>
                <mat-error *ngIf="firstFormGroup.controls['last_name'].hasError('required') && firstFormGroup.controls['last_name'].touched">Last name is required</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="field">
            <div class="two-field">
              <mat-form-field class="f-input">
                <input matInput [matAutocomplete]="autoCategory" placeholder="Select Country" formControlName="country" required>
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="onClear()">
                  <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #autoCategory="matAutocomplete" (optionSelected)="_selected($event)" [displayWith]="displayItem">
                  <mat-option *ngFor="let item of countries | async" [value]="item">
                    <span class="flex-box">
                      <img style="vertical-align:middle; margin-right: 5px" aria-hidden src="{{item?.flag}}" height="25" width="40" />
                      <span>{{item?.name }}</span>
                    </span>
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="country.hasError('validKey') && !country.hasError('required')">
                  Please select country from list you cannot continue without select.
                </mat-error>
                <mat-error *ngIf="firstFormGroup.controls['country'].hasError('required') && firstFormGroup.controls['country'].touched">Country is required</mat-error>
              </mat-form-field>
            </div>
            <div class="two-field">
              <mat-form-field class="f-input">
                <span matPrefix>{{callingCodes}} &nbsp;</span>
                <input matInput placeholder="Phone Number" formControlName="phone_number" required>
                <mat-error *ngIf="firstFormGroup.controls['phone_number'].hasError('required') && firstFormGroup.controls['phone_number'].touched">Phone number is required</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="field">
            <div class="two-field">
              <mat-form-field class="f-input">
                <input matInput placeholder="Email" formControlName="email" required>
                <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="firstFormGroup.controls['email'].hasError('required') && firstFormGroup.controls['email'].touched">Email is required</mat-error>
              </mat-form-field>
            </div>
            <div class="two-field">
              <mat-form-field class="f-input">
                <input matInput placeholder="City" formControlName="city">
              </mat-form-field>
            </div>
          </div>

          <div class="field">
            <div class="two-field">
              <mat-form-field class="f-input">
                <input matInput placeholder="Zip code" formControlName="zip_code">
              </mat-form-field>
            </div>
            <div class="two-field">
              <mat-form-field class="f-input">
                <input matInput placeholder="Nationality" formControlName="nationality">
              </mat-form-field>
            </div>
          </div>

          <div class="field">
            <div class="two-field">
              <mat-form-field class="f-input">
                <input matInput placeholder="University" formControlName="university">
              </mat-form-field>
            </div>
            <div class="two-field">
              <mat-form-field class="f-input">
                <input matInput placeholder="Student ID" formControlName="student_id">
              </mat-form-field>
            </div>
          </div>

          <div class="field">
            <mat-form-field class="f-input">
              <input matInput placeholder="Title" formControlName="title">
            </mat-form-field>
          </div>
          <div class="field">
            <mat-form-field class="f-input">
              <input matInput placeholder="Emergency Contact" formControlName="emergency_contact">
            </mat-form-field>
          </div>

          <div class="field">
            <mat-form-field class="f-input">
              <input matInput placeholder="Emergency Phone Number" formControlName="emc_phone_number">
            </mat-form-field>
          </div>

          <div class="field">
            <mat-form-field class="f-input">
              <input matInput placeholder="Emergency Email" formControlName="emc_email">
            </mat-form-field>
          </div>

          <div class="field">
            <mat-form-field class="f-input">
              <textarea matInput placeholder="Address" formControlName="address"></textarea>
            </mat-form-field>
          </div>

          <div class="field">
            <div class="alert-info">
              <div class="div-s">
                <i class="material-icons">info</i>
                <strong>Students or Affiliates</strong>
              </div>
              <div class="div-d">
                <p>Please input University and Student ID to get Best offer</p>
              </div>
            </div>
          </div>

          <div class="field">
            <mat-checkbox class="f-input" formControlName="isTerm" required>
              I accept the Terms and Conditions of CALA Conference and agree with CALA Conference’s immediate performance of services.
              I also acknowledge that I cannot withdraw from CALA Conference’s service agreement.
            </mat-checkbox>
          </div>

          <div class="field">
            <p>All registrations to the CALA 2019 are refundable any time prior to the end of August, that is August 31st, 2018.
              After this, withdraws cannot receive a refund.
            </p>
          </div>

          <div class="field f-btn">
            <button class="p-register" (click)="_onCompletedForm(stepper)" [disabled]="!firstFormGroup.valid" mat-button>Next</button>
          </div>

        </div>

      </form>

    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>Liability Form</ng-template>
      <form [formGroup]="secondFormGroup">

        <div class="form-container package">

          <div class="text-block">
            <div class="title">
              Liability Form
            </div>
            <div class="body">
              <p>
                I HEREBY ASSUME ALL OF THE RISKS OF PARTICIPATING IN ANY/ALL ACTIVITIES ASSOCIATED WITH THIS EVENT, including by way of example
                and not limitation, any risks that may arise from negligence or carelessness on the part of the persons or
                entities being released, from dangerous or defective equipment or property owned, maintained, or controlled
                by them, or because of their possible liability without fault. I certify that I am physically fit, have sufficiently
                prepared or trained for participation in this activity, and have not been advised to not participate by a
                qualified medical professional. I certify that there are no health-related reasons or problems which preclude
                my participation in this activity. I acknowledge that this Accident Waiver and Release of Liability Form
                will be used by the event holders, sponsors, and organizers of the activity in which I may participate, and
                that it will govern my actions and responsibilities at said activity. In consideration of my application
                and permitting me to participate in this activity, I hereby take action for myself, my executors, administrators,
                heirs, next of kin, successors, and assigns as follows:
              </p>

              <p>
                (A) I WAIVE, RELEASE, AND DISCHARGE from any and all liability, including but not limited to, liability arising from the
                negligence or fault of the entities or persons released, for my death, disability, personal injury, property
                damage, property theft, or actions of any kind which may hereafter occur to me including my traveling to
                and from this activity, THE FOLLOWING ENTITIES OR PERSONS: The Soil Ecology Society, (SES) and/or their directors,
                officers, employees, volunteers, representatives, and agents, and the activity holders, sponsors, and volunteers;

              </p>

              <p>
                (B) INDEMNIFY, HOLD HARMLESS, AND PROMISE NOT TO SUE the entities or persons mentioned in this paragraph from any and all
                liabilities or claims made as a result of participation in this activity, whether caused by the negligence
                of release or otherwise.
              </p>
              <p>
                I acknowledge that SES and their directors, officers, volunteers, representatives, and agents are NOT responsible for the
                errors, omissions, acts, or failures to act of any party or entity conducting a specific activity on their
                behalf.

              </p>
              <p>
                I acknowledge that this activity may involve a test of a person's physical and mental limits and carries with it the potential
                for death, serious injury, and property loss. The risks include, but are not limited to, those caused by
                terrain, facilities, temperature, weather, condition of participants, equipment, vehicular traffic, lack
                of hydration, and actions of other people including, but not limited to, participants, volunteers, monitors,
                and/or producers of the activity. These risks are not only inherent to participants, but are also present
                for volunteers.

              </p>
              <p>I hereby consent to receive medical treatment which may be deemed advisable in the event of injury, accident,
                and/or illness during this activity. I understand while participating in this activity, I may be photographed.
                I agree to allow my photo, video, or film likeness to be used for any legitimate purpose by the activity
                holders, producers, sponsors, organizers, and assigns. </p>
              <p>The Accident Waiver and Release of Liability Form shall be construed broadly to provide a release and waiver
                to the maximum extent permissible under applicable law.
              </p>
              <p>I CERTIFY THAT I HAVE READ THIS DOCUMENT AND I FULLY UNDERSTAND ITS CONTENT. I AM AWARE THAT THIS IS A RELEASE
                OF LIABILITY AND A CONTRACT AND I SIGN IT OF MY OWN FREE WILL.
              </p>
            </div>
          </div>

          <div class="field">
            <div class="field f-btn">
              <button class="p-register" (click)="_onIAgree(stepper)" mat-button>I Agree</button>
            </div>
          </div>

        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <ng-template matStepLabel>Conference Packages</ng-template>
      <form [formGroup]="thirdFormGroup">
        <div class="form-container package">

          <div class="text-block">
            <div class="title">
              Conference Packages
            </div>
            <div class="body">

            </div>
          </div>

          <div class="con-package">
            <div class="p-item">
              <div class="package-Info">
                <h3 class="p-title regular">Regular Package</h3>
                <div class="p-typeName">{{item?.typeName}}</div>
                <div class="p-price">
                  <div class="p-currency">USD</div>
                  <div class="p-dollar">$</div>
                  <div class="p-p-price">{{item?.price}}</div>
                </div>
                <div class="p-des">cala conference</div>
              </div>
              <div class="p-d-register">
                <div class="quantity">
                  <button mat-icon-button (click)="onRemove(false)">
                    <mat-icon aria-label="Example icon-button with a heart icon">remove</mat-icon>
                  </button>
                  <span class="qty">{{qty}}</span>
                  <button mat-icon-button (click)="onPlus(false)">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                  </button>
                </div>
                <button mat-button class="p-register" [disabled]="loading" (click)="onCheckOut(false)">Register Now</button>
                <div class="p-card">
                  <h3>with Credit/Dedit Card</h3>
                  <div class="card-flx">
                    <div class="box visa">
                      <img src="../../assets/img/visa.png" />
                    </div>
                    <div class="box">
                      <img src="../../assets/img/master.png" />
                    </div>
                  </div>
                </div>

              </div>
              <div class="p-include">
                <h3 class="p-in-title">Package Include:</h3>
                <ul class="p-in-ul">
                  <li>Daily buffet lunch</li>
                  <li>Morngin break refreshments</li>
                  <li>Afternoon break refreshments</li>
                  <li>On buffet dinner with a cultural show</li>
                </ul>
              </div>
            </div>

            <div class="p-item">
              <div class="package-Info">

                <h3 class="p-title">Regular Package Plus Sightseeing</h3>
                <div class="p-typeName">{{itemPlue?.typeName}}</div>
                <div class="p-price">
                  <div class="p-currency">USD</div>
                  <div class="p-dollar">$</div>
                  <div class="p-p-price">{{itemPlue?.price}}</div>
                </div>
                <div class="p-des">cala conference and sightseeing / anthropolofical program</div>
              </div>
              <div class="p-d-register">

                <div class="quantity">
                  <button mat-icon-button (click)="onRemove(true)">
                    <mat-icon aria-label="Example icon-button with a heart icon">remove</mat-icon>
                  </button>
                  <span class="qty">{{qtyPlus}}</span>
                  <button mat-icon-button (click)="onPlus(true)">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                  </button>
                </div>
                <button mat-button class="p-register" [disabled]="loading" (click)="onCheckOut(true)">Register Now</button>
                <div class="p-card">
                  <h3>with Credit/Dedit Card</h3>
                  <div class="card-flx">
                    <div class="box visa">
                      <img src="../../assets/img/visa.png" />
                    </div>
                    <div class="box">
                      <img src="../../assets/img/master.png" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-include">
                <h3 class="p-in-title">Package Include:</h3>
                <ul class="p-in-ul">
                  <li>Daily buffet lunch</li>
                  <li>Morngin break refreshments</li>
                  <li>Afternoon break refreshments</li>
                  <li>On buffet dinner with a cultural show</li>
                  <li>1 day pass access to all temples in Siem Reap including Angkor Wat</li>
                  <li>lunch for the sightseeing tour</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="p-detail-all">
            <div class="p-detail">
              <div class="p-d-title">
                Early Bird
                <p>
                  Students/Affiliates: $140
                </p>
                <p>
                  Others: $170
                </p>
              </div>
              <div class="p-d-des">
                <h4>- Opens: March 1, 2018, midnight (UTC)</h4>
                <h4>- Closes: July 7, 2018, midnight (UTC)</h4>
              </div>
            </div>

            <div class="p-detail">
              <div class="p-d-title">
                Middle Bird
                <p>
                  Students/Affiliates: $170
                </p>
                <p>
                  Others: $210
                </p>
              </div>
              <div class="p-d-des">
                <h4>- Opens: July 8, 2018, midnight (UTC)</h4>
                <h4>- Closes: October 25, 2018, midnight (UTC)</h4>
              </div>
            </div>

            <div class="p-detail">
              <div class="p-d-title">
                Late Bird
                <p>
                  Students/Affiliates: $200
                </p>
                <p>
                  Others: $250
                </p>
              </div>
              <div class="p-d-des">
                <h4>- Opens: October 26, 2018, midnight (UTC)</h4>
                <h4>- Closes: January 26, 2019, midnight (UTC)</h4>
              </div>
            </div>

            <div class="alert-info pr-plus">
              <div class="div-s">
                <i class="material-icons">info</i>
                <strong class="s-pr-plus">Regular Package Plus Sightseeing</strong>
              </div>
              <div>
                <p>Above price
                  <b>Plus </b>$80</p>
              </div>
            </div>
          </div>


        </div>
      </form>
    </mat-step>

  </mat-horizontal-stepper>
</div>


<div id="aba_main_modal" class="aba-modal">
  <div class="aba-modal-content">
    <form method="POST" target="aba_webservice" [action]="getUrl()" id="aba_merchant_request">
      <input type="hidden" name="hash" [value]="getHash()" id="hash" />
      <input type="hidden" name="tran_id" [value]="tran_id" id="tran_id" />
      <input type="hidden" name="amount" [value]="amount" id="amount" />
      <input type="hidden" name="firstname" [value]="firstname" />
      <input type="hidden" name="lastname" [value]="lastname" />
      <input type="hidden" name="phone" [value]="phone" />
      <input type="hidden" name="email" [value]="aba_email" />
    </form>
  </div>
</div>