/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/app.scss";

body {
  background: $background !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Open Sans,
    "Battambang", cursive, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: $color;
}

puc-cala-app {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: $height;
  bottom: 0;
  left: 0;
  right: 0;
}

app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  color: #000;
  .mat-toolbar.mat-primary {
    background: $primary;
  }
  .mat-toolbar-multiple-rows {
    min-height: $height;
    .mat-toolbar-row,
    .mat-toolbar-single-row {
      height: $height;
    }
  }
}
.mat-toolbar.mat-primary {
  background: $stepper;
}

app-component-body {
  .abs-bar {
    position: absolute;
  }
  .mat-toolbar.mat-primary {
    background: #f7f7f7;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  }

  .site-register-form {
    margin-bottom: 100px;
    // padding: 0;
  }
}
.hero-wrapper {
  .eyebrow-large {
    font-family: Roboto Mono, monospace;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
    margin: 0;
    overflow: visible;
  }
  .cala-title {
    font-size: 46px;
    letter-spacing: -0.5px;
    line-height: 72px;
    font-family: Google Sans, Arial, sans-serif;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 900;
  }
  .primary-message {
    font-size: 32px;
    letter-spacing: -0.5px;
    line-height: normal;
    font-family: Roboto Mono, monospace, Google Sans, Arial, sans-serif, "Bayon",
      cursive;
    color: #333;
    font-weight: 300;
    &.khmer {
      font-size: 28px;
      margin-top: 5px;
    }
    .quote {
      color: #757575;
    }
    .rotate90 {
      transform: rotate(180deg);
    }
  }
}
.site-register-form {
  mat-horizontal-stepper {
    border-radius: 0px;
    box-shadow: 0 30px 60px 1px rgba(60, 64, 67, 0.15);
  }
  .mat-step-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mat-step-header .mat-step-label {
    text-align: center;
    padding: 16px 30px 0;
    font-size: 14px;
  }
  .mat-horizontal-stepper-header .mat-step-icon,
  .mat-horizontal-stepper-header .mat-step-icon-not-touched {
    margin-right: 0;
    flex: none;
  }
}

.p-register{
  background-color: #1a73e8;
  color: white;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 35px;
  border-radius: 9999px;
  transition: 150ms;
  text-align: center;
  font-family: "Google Sans", sans-serif;
}

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button{
 &.p-register{
  border-radius: 25px;
  line-height: 42px;
  padding:2px 40px 0 40px;

 }
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 100px;
  max-width: 500px;
  &.package{
    max-width: 900px;
  }
  .field {
    width: 100%;
    display: flex;
    .two-field {
      width: calc(100% / 2);
      .f-input {
        width: 95%;
      }
    }
    .f-input {
      width: 98%;
    }
  }
  .f-btn {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    width: 98%;
  }
}
.con-package{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  .p-item{
    background-color: #F7F9FA;
    width: 48%;
    text-align: center;
    padding: 5% 0;
    .p-title{
      font-family: Avenir;
      font-size: 28px;
      line-height: 1.25;
      font-weight: 800;
      color: #333;
      margin: 0;
      padding: 0 20px;
      height: 80px;
      &.regular{
        padding-top: 20px;
      }
    }
    .p-price{
      display: flex;
      font-family: Avenir;
      font-size: 14px;
      line-height: 1;
      color: #333;
      justify-content: center;
      margin-top: 5%;
      .p-currency{
        margin-right: 4px;
        opacity: 0.6;
      }
      .p-dollar{
        font-size: 48px;
        font-weight: 400;
        margin-top: -3px;
      }
      .p-p-price{
        font-size: 48px;
        font-weight: 800;
        margin: -3px 4px 0 4px;
      }
    }
    .p-des{
      color: #171e27;
      opacity: 0.6;
      font-size: 14px;
      line-height: 20px;
      margin-top: 5px;
      padding: 0 60px;
    }
    .p-typeName{
      color: #e85d00;
      font-size: 15px;
    }
    .p-d-register{
      margin: 30px 0;
      .p-card{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        flex-direction: column;
        h3{
          text-align: center;
          font-family: Avenir;
          font-size: 14px;
          font-weight: 600;
          /* text-transform: uppercase; */
          color: #273040;
          letter-spacing: 1px;
          margin: 0px 0px 20px 12px;
        }
        // img{
        //   width: 100px;
        // }
      }

      .card-flx{
        display: flex;
        align-items: center;
        height: 35px;
        justify-content: center;
        .box{
          // background: #fff;
          height: 100%;
          margin: 8px;
          padding: 8px;
          display: inline-flex;
          align-items: center;
          img{
          height: 100%;
          }
          &.visa img{
            height: 70%;
          }
        }
      }

    }
    .p-include{
      margin-top: 20px;
      .p-in-title{
        text-align: center;
        font-family: Avenir;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        color: rgb(39, 48, 64);
        letter-spacing: 1px;
        margin: 0px 0px 12px;
      }
      .p-in-ul{
        text-align: center;
        opacity: 0.8;
        font-family: Avenir;
        font-size: 16px;
        font-weight: 500;
        line-height: 2;
        color: rgb(39, 48, 64);
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        padding: 0 50px;
        .p-in-li{
          color: #111;
          display: list-item;
          text-align: -webkit-match-parent;
        }
      }
    }


  }
}

.alert-info{
  background-color: rgba(41, 182, 246, 0.2);
  color: #01579b;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0;
  margin-bottom: 30px;
  border-radius: 2px;
  font-size: 16px;
  // width: 90%;
  &.pr-plus{
    // width: 100%;
  }
  .div-s{
    display: flex;
  }
  i {
    font-size: 26px;
    margin-top: 5px;
  }
  strong {
    padding: 0 10px;
    &.s-pr-plus{
      padding: 10px 10px;
    }
  }
}


.p-detail-all{
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  .p-detail{
    display: flex;
    background-color: #F7F9FA;
    flex-direction: row;
    padding: 15px 0 15px 20px;
    .p-d-title{
      flex: 1;
      font-size: 28px;
      line-height: 1.25;
      font-weight: 800;
      color: #333;
      p{
        font-size: 18px;
        line-height: 1.5;
        font-weight: 600;
        letter-spacing: .004em;
        margin: 0;
        color: #273040;
        opacity: 0.8;
      }
    }
    .p-d-des{
      flex: 2;
      h4{
        font-size: 18px;
        line-height: 1.5;
        font-weight: 600;
        letter-spacing: .004em;
        margin: 0;
        color: #273040;
        opacity: 0.8;
      }
    }
  }
}

.bnt-next {
  margin: auto;
  margin-bottom: 24px;
  margin-top: 16px;
}
.btn-primary {
  background-color: #1a73e8;
  color: white;
  font-family: Avenir;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 12px 30px;
  margin-top: 35px;
  border-radius: 9999px !important;
  transition: 150ms;
  text-align: center;
  -webkit-transition: 150ms;
}

.text-block {
  padding-top: 54px;
  text-align: center;
  .title {
    font-family: Google Sans, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 24px;
    padding: 0 32px;
  }
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.1);
}

#aba_main_modal {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  z-index: 100000000;
}

.aba-iframe {
  border: none;
  width: 100%;
  height: 100%;
  overflow-x: no-display;
  overflow-y: no-content;
  border-radius: 5px;
  max-height: 715px;
  padding: 2px;
  background: #fff;
  -webkit-overflow-scrolling: touch;
}
#aba_merchant_request {
  display: none;
}
/* The Modal (background) */

.aba-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.aba-modal-content {
  margin: 0 auto; /* 15% from the top and centered */
  margin-top: 20px;
  width: 780px; /* Could be more or less, depending on screen size */
  position: relative;
  max-height: 708px;
  height: 100%;
  border-radius: 5px;
}

/* The Close Button */
.aba-close {
  color: #fff;
  cursor: pointer;
  float: right;
  font-family: arial;
  font-size: 28px;
  margin-right: -37px;
  position: absolute;
  right: 0;
  top: -11px;
}
.aba-close img {
  width: 22px;
  height: 22px;
}

.aba-loader {
  animation: load 1s linear infinite;
  border: 0.5em solid #045b83;
  border-radius: 50%;
  height: 48px;
  left: 50%;
  margin: -1.5em;
  position: absolute;
  top: 350px;
  width: 48px;
  z-index: 1001;
}
.aba-loader:after {
  border: 0.6em solid #00cdd4;
  border-radius: 50%;
  bottom: 4px;
  content: "";
  left: 4px;
  position: absolute;
  right: 4px;
  top: 4px;
}
.aba-loader:before {
  border-bottom: 1em solid #00cdd4;
  border-left: 0.7em solid transparent;
  border-right: 0.7em solid transparent;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -0.7em;
  position: absolute;
  top: -0.25em;
  width: 0;
}
@keyframes load {
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1024px) {
  .aba-iframe {
    height: 100%;
  }
}

@media only screen and (max-width: 860px) {
  .aba-modal {
    padding-top: 30px;
  }

  .aba-modal-content {
    width: 773px;
  }

  .aba-close {
    margin-right: 0;
    top: -45px;
    right: 4px;
  }
}

@media only screen and (max-width: 738px) {
  .aba-modal-content {
    width: 100%;
    height: 94%;
  }
  .aba-iframe {
    height: 100%;
  }

  .aba-modal {
    padding: 30px 12px 0;
  }

  .aba-close {
    margin-right: 0;
    top: -45px;
    right: 4px;
  }
}

@media only screen and (max-width: 420px) {
  /* Modal Content/Box */
  .aba-modal-content {
    width: 100%; /* Could be more or less, depending on screen size */
    height: 96%;
  }
}

@media only screen and (max-width: 380px) {
  div.box-container div.box-body h1 {
    font-size: 18px;
    margin-bottom: -4px;
  }

  .aba-iframe {
    border: none;
  }

  .aba-close {
    right: 30px;
  }
}
.mat-button.mat-accent[disabled], .mat-button.mat-primary[disabled], .mat-button.mat-warn[disabled], .mat-button[disabled][disabled], .mat-icon-button.mat-accent[disabled], .mat-icon-button.mat-primary[disabled], .mat-icon-button.mat-warn[disabled], .mat-icon-button[disabled][disabled], .mat-stroked-button.mat-accent[disabled], .mat-stroked-button.mat-primary[disabled], .mat-stroked-button.mat-warn[disabled], .mat-stroked-button[disabled][disabled]{
  color: rgba(0,0,0,.26)!important;
  background: rgba(0,0,0,0.12)!important;
}
.package-Info{
  height: 200px;
}

.mat-checkbox-layout .mat-checkbox-label{
  line-height: 24px;
  white-space: normal;
  margin-left: 10px;
  color: #333;
}
.body{
  p{
    text-align: left;
    color: #333;
  }
}

.mat-step-header .mat-step-icon {
  background-color: #1a73e8;
  color: #fff;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #1a73e8;
}

@media only screen and (max-width:500px) {
  .form-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 100px;
    max-width: 500px;
    &.package{
      max-width: 900px;
    }
    .field {
      display: block;
      .two-field {
        width: 100%;
        .f-input {
          width: 95%;
        }
      }
      .f-input {
        width: 98%;
      }
    }
    .f-btn {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
      width: 98%;
    }
  }

  .alert-info{
    flex-direction: column;
    padding: 10px 20px;
    &.pr-plus{
      // width: 90%;
    }
    strong {
      padding: 8px 10px;
      &.s-pr-plus{
        padding: 3px 10px;
      }
    }
    .div-d{
      text-align: center;
    }
  }
  .p-detail-all{
    margin-top: 10%;
    .p-detail{
      flex-direction: column;
      .p-d-des {
        margin-top: 10px;
      }
    }
  }
  
  .con-package{
    width: 100%;
    display: block;
    justify-content: space-between;
    .p-item{
      width: 100%;
      margin-top: 30px
    }
  }
  
  .hero-wrapper{
    // padding-left: 3%;
    .puc-cala-site-with{
      padding: 0;
    }
  }

}

.quantity{
  margin-bottom: 30px;
  span.qty{
    margin: 0 20px;
    padding: 10px 20px;
    background: #e0e0e0;
    border-radius: 2px;
  }
}